@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

.logo {
    font-family: 'Norse-Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

#left-side {
    display: flex;
    width: 40%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 20%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


#logo-bg img {
    max-width: 30%;
    max-height: 80%;
    height: auto;
    width: auto;
}

#logo-bg p {
    color: white; 
    font-family: 'Norse-Bold', sans-serif;
    font-size: 90px;
}

.credit {
    position: absolute;
    color: white;
    bottom: 1%;
}

.credit a, 
.credit a:visited {
    color: white;
    text-decoration: underline;
}


#right-side {
    display: flex;
    background-color: #f9fafb;
    flex-grow: 1;
    height: 100vh;
    flex-direction: column;
}

#heading-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.first,
.second {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    padding-left: 5%;
    padding-right: 15%;
}

#form-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 270px;
    box-shadow:
        0px 1px 2px rgba(0,0,0,0.01),
        0px 2px 6px rgba(0,0,0,0.1);
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-heading {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    color: #1f2937;
    opacity: 0.9;
}

.form-group {
    flex-basis: 40%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 13px;
    color: #1f2937;
    font-weight: bold;
    opacity: 0.7;
}

input {
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #E5E7EB;
    outline: none;
}

input:focus{
    border: 1px solid #1d4ed8;
}

input[type=password]:focus:invalid {
    border: 1px solid #b91c1c;
    
}

.button {
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border-width: 0;
    margin-left: 30px;
    font-size: 100%;
    width: 20%;
    height: 60%;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.account-container p {
    margin-left: 30px;
}

.login {
    font-weight: bold;
    color: #596D48;
}